<!--sidebar start-->
<aside>
    <div id="sidebar" class="nav-collapse ">
        <!-- sidebar menu start-->
        <ul class="sidebar-menu">
            <li class="">
                <a [routerLink]="['/dashboard']">
                    <i class="icon_house_alt"></i>
                    <span>Dashboard</span>
                </a>
            </li>
            <li>
                <a [routerLink]="['/organization']">
                    <i class="icon_building"></i>
                    <span>Organization</span>
                </a>
            </li>
            <li  *ngIf="isOwner">
                <a [routerLink]="['/users']">
                    <i class="icon_profile"></i>
                    <span>User Management</span>
                </a>
            </li>
            <li>
                <a [routerLink]="['/report']">
                    <i class="icon_datareport"></i>
                    <span>Report</span>
                </a>
            </li>
            <li>
                <a [routerLink]="['/accessTokens']">
                    <i class="icon_lock-open"></i>
                    <span>Access Tokens</span>
                </a>
            </li>
        </ul>
        <!-- sidebar menu end-->
    </div>
</aside>
<!--sidebar end-->