<nav class="navbar navbar-expand-lg navbar-dark fixed-top navbar-shrink" id="mainNav">
        <a class="navbar-brand js-scroll-trigger" href="https://worktimesheet.xyz">Work Time Sheet</a>
</nav>

<div class="container" *ngIf="!isRegisterPage">
    <form [formGroup]="loginForm" class="login-form" (ngSubmit)="login()">
        <div class="login-wrap">
            <p class="login-img"><i class="icon_lock_alt"></i></p>
            <div class="input-group">
                <span class="input-group-addon"><i class="icon_mail_alt"></i></span>
                <input type="text" class="form-control" placeholder="Email" formControlName="email" autofocus>
            </div>
            <div class="input-group">
                <span class="input-group-addon"><i class="icon_key_alt"></i></span>
                <input type="password" class="form-control" placeholder="Password" formControlName="password">
            </div>
            <label class="checkbox">
                <input type="checkbox" value="remember-me"> Remember me
                <span class="pull-right"> <a href="#"> Forgot Password?</a></span>
            </label>
            <button class="btn btn-primary btn-lg btn-block" type="submit">Login</button>
            <button class="btn btn-info btn-lg btn-block" type="button" (click)="changeToRegistration()">Signup</button>
        </div>
    </form>
</div>

<div class="container" *ngIf="isRegisterPage">
    <form [formGroup]="registerForm" class="login-form" (ngSubmit)="register()">
        <div class="login-wrap">
            <div class="input-group">
                <span class="input-group-addon"><i class="icon_profile"></i></span>
                <input type="text" class="form-control" placeholder="Full Name" autofocus formControlName="name">
            </div>
            <div class="input-group">
                <span class="input-group-addon"><i class="icon_mail_alt"></i></span>
                <input type="text" class="form-control" placeholder="Email" formControlName="email">
            </div>
            <div class="input-group">
                <span class="input-group-addon"><i class="icon_building"></i></span>
                <input type="text" class="form-control" placeholder="Organization Name" formControlName="organizationName">
            </div>
            <div class="input-group">
                <span class="input-group-addon"><i class="icon_key_alt"></i></span>
                <input type="password" class="form-control" placeholder="Password" formControlName="password">
            </div>
            <div class="input-group">
                <span class="input-group-addon"><i class="icon_key_alt"></i></span>
                <input type="password" class="form-control" placeholder="Confirm Password" formControlName="confirmPassword">
            </div>
            <button class="btn btn-primary btn-lg btn-block" type="submit">Signup</button>
            <button class="btn btn-info btn-lg btn-block" type="button" (click)="backToLogin()">Login</button>
        </div>
    </form>
</div>