<div class="row">
    <div class="col-lg-12">
        <section class="panel">
            <div class="panel-heading">Registration</div>
            <div class="panel-body">
                <div class="form">
                    <form class="form-horizontal" (ngSubmit)="register()">
                        <div class="form-group">
                            <label for="userName" class="control-label col-lg-2">Full Name <span class="required">*</span></label>
                            <div class="col-lg-10">
                              <input class="form-control" id="userName" name="userName" type="text" required autofocus />
                            </div>
                          </div>
                    </form>
                </div>
            </div>
        </section>
    </div>
</div>